/* #region root */

:root {
    --corner-radius: 10px;

    --bg: #a1d5ff;
    --text: rgb(9, 28, 114);
    --card: #ffffff;
    --window_header: #a9d8ff;
    --window_header_title: #aad1f7;

    --section-gap: 220px;
    --section-height: 600px;

    --container-width: 1300px;
}

[data-theme="dark"] {
    --bg: #152891;
    --text: white;
    --card: #3058c5;
    --window_header: #274ebb;
    --window_header_title: #538af0;
}


body {
    background: 
    linear-gradient(
        -10deg, 
        #2050d346,
        #477bbe6e,
        #4720d377,
        #458eb95d,
        #3a51d15d,
        #4c59ce57),
    var(--bg);


    font-family: Rubik;
    text-align: left;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: var(--text);
    line-height: 1.5;
}

/* #endregion */

/* #region layout */

.section {
    height: var(--section-height);
    margin-top: var(--section-gap);
    margin-bottom: var(--section-gap);

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5vw;
    padding-right: 5vw;

    z-index: 1;
 /*   background: #e59480; */
}
  
.container {
    width: 100%;
    height: auto;
    max-width: var(--container-width);
    margin: 0 auto;
 /*   background: #e5e380; */
}

.columns {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.small_columns {
    display: flex;
    justify-content: center;
    gap: 10%;
}

/* #endregion */

/* #region ANIMATIONS */

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
}

/* #endregion */


/* #region BACKGROUND */

.section .background {
    position: absolute;
    width: 1400px;
    height: var(--section-height);
    z-index: -1;
  /*  background: #3bf66a; */
}

.bg_shape {
    position: absolute;
    animation: float 10s ease-in-out infinite;
}

.bg_rect {
    position: absolute;
    width: 220px;
    height: 100px;
    border-radius: 8px;
}

.bg_r1 {top: 8%; left: -15%; width: 220px; height: 100px; background: #f8a251; }
.bg_r2 {top: 40%; right: -16%; width: 220px; height: 100px; background: #a855f7; }

.bg_triangle1 {top: -3%; left: 44%; scale: 0.7;}
.bg_triangle1 svg {fill: #fcc665;}

/* #endregion */


/* #region helpers */

.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pt-40 { padding-top: 40px; }
.pt-60 { padding-top: 60px; }
.pt-120 { padding-top: 120px; }

.stretch_height {
    height: 100%;
}

.stretch_width {
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.flex_align_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex_align_top {
    display: flex;
    justify-content: top;
    flex-direction: column;
}

.green {
    background: #25ff30;
}

.centered {
    max-width: var(--container-width);
    margin: 0 auto;
}

.center_txt {
    text-align: center;
}
  

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

/* #endregion */

/* #region decorations */

#themeToggle {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    background: var(--window_header);
    color: var(--text);
    padding: 3px;
}

.corner_logo {
    position: fixed;
    top: 30px;
    left: 30px;

    width: 9vh;
    z-index: 2000;
}

.hero-image {
    max-width: 90vw;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.hero-box {
    background-color: var(--card);
    border-radius: var(--corner-radius);
    width: 500px;
}

/* #endregion */

/* #region TEXT */


.title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 30px;
    line-height: 1;
}

.subtitle {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 40px;
    line-height: 1;
}

.text {
    font-size: 18px;
    color: var(--text);
    line-height: 1.5;
}


.technical_text {
    display: block;
    width: fit-content;
    font-size: 12px;
    color: var(--text);
    line-height: 1.5;
}

/* #endregion */

/* #region DOWNLOAD_button */

.download-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    margin: 10px auto;
    margin-top: 40px;

    background: #3bbb00;
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    font-weight: 700;

    padding: 16px 32px;
    border-radius: 20px;

    border: 3px solid white;

    text-decoration: none;

    box-shadow: 0 0 10px rgba(0, 255, 21, 0.404);

    transition: all 0.2s ease;
    will-change: transform;
}

.download-btn svg {
    transform: translateY(-1px);
}

.download-btn:hover {
    background: #4bda09;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 255, 76, 0.9);
}

/* #endregion */

/* #region WINDOW */

.window {
    position: relative;
    display: block;
    width: 850px;
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    border: 0px solid #cfcfcf;

    border-radius: var(--corner-radius);
    border-top-right-radius: calc(var(--corner-radius) - 10px);
    overflow: hidden;

    background: var(--card);
}
  
.window-header {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--window_header_title);

    padding-left: 12px;
}
  
.window-title {
    font-size: 15px;
    margin-left: 5px;
    color: var(--window_header_title); 
}

.window-corner {
    display: flex;
    align-items: center;
    width: 80px;
    height: 100%;
    background: var(--card);
}

.window-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    border: none;
    background: transparent;
}

.window-btn:hover{
    background-color: var(--window_header);
    border-radius: 0;
}

.window-btn svg {
    width: 14px;
    height: 14px;

    stroke: var(--window_header_title);
}

.window-btn:hover svg{
    stroke: white;
}

.window-body {
    flex: 1;
    padding: 0px 30px 30px 30px;
    overflow: auto;
    transition: max-height 0.5s ease, padding 0.1s ease;
}

.window-body.minimized {
    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* #endregion */

/* #region modal */

.window-modal {
    position: absolute;
    inset: 0;
    background: rgba(11, 44, 94, 0.4);
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.window-modal.hidden {
    display: none;
}
  
.modal-box {
    position: relative;
    width: 300px;
    background: var(--card);
    padding: 15px;
    border-radius: var(--corner-radius);
    border: 3px solid #eaeaea;
}

.modal_btn {
    width: 70px;
    height: 40px;
    font-family: Rubik;
    border: none;
    background: transparent;
    border-radius: var(--corner-radius);
}

.modal_btn.yes {
    background: rgba(255, 78, 78, 0.664);
    color: rgb(255, 237, 237);
    font-weight: 400;
    font-size: 13px;
}

.modal_btn.no {
    background: rgb(72, 190, 4);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
    will-change: transform;
}

.modal_btn.no:hover {
    background: #4bda09;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 255, 76, 0.9);
}

.modal_btn.close_modal {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal_btn.close_modal svg {
    stroke: var(--window_header_title);
}

.modal_btn.close_modal:hover svg {
    stroke: white;
}

/* #endregion */


/* #region videos */
.trailer-video {
    width: 100%;
    display: block;
    border-radius: var(--corner-radius); /* optional */
    pointer-events: none;
}

/* #endregion */

.selection_container {
    width: 700px;
    height: 70px;
    background: var(--card);
    align-items: center;
    align-content: center;
    border-radius: 90px;
    flex-direction: column;
    margin-top: 20px;
}

/* #region MOBILE VERSION */

@media (max-width: 900px) {
    .columns {
        flex-direction: column;
        gap: 10vh;
    }

    .section {
        height: 100%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .container {
        max-width: 90vw;
    }

    .hero-image {
        background-color: #25ccff;
        max-width: 70vw;
        margin: 0 auto;
        margin-left: 15%;
    }

    .hero-image {
        background-color: #25ccff;
        max-width: 70vw;
        margin: 0 auto;
        margin-left: 15%;
    }

    .modal_btn.yes {
        background: rgb(72, 190, 4);
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 24px;
        will-change: transform;
    }
}

/* #endregion */