:root {
    --corner-radius: 12px;

    --bg: #a1d5ff;
    --text: rgb(9, 28, 114);
    --card: #ffffff;
    --window_header: #80b8e5;
    --window_header_title: #cff1ff;
}

[data-theme="dark"] {
    --bg: #192da0;
    --text: white;
    --card: #3058c5;
    --window_header: #274ebb;
    --window_header_title: #4670e6;
}

body {
    background-color: var(--bg);
    font-family: Rubik;
    text-align: left;
    margin-top: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
}

#themeToggle {
    display: block;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    padding: 3px;
}

.corner_logo {
    position: fixed;
    top: 30px;
    left: 30px;

    width: 80px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;

    min-height: 80vh;
}

.hero-box {
    background-color: var(--card);
    border-radius: var(--corner-radius);
    width: 500px;
}



.title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 10px;
    line-height: 1;
}

.subtitle {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 40px;
    line-height: 1;
}

.text {
    font-size: 18px;
    color: var(--text);
    line-height: 1.5;
}

.download-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    margin-top: 40px;

    background: #3bbb00;
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    font-weight: 700;

    padding: 16px 32px;
    border-radius: 20px;

    border: 3px solid white;

    text-decoration: none;

    box-shadow: 0 0 10px rgba(0, 255, 21, 0.404);

    transition: all 0.5s ease;
    will-change: transform;
}

.download-btn:hover {
    background: #4bda09;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 255, 76, 0.9);
}


.window {
    display: block;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    border: 0px solid #cfcfcf;
    align-self: center;
    border-radius: var(--corner-radius);
    overflow: hidden;
    flex-direction: column;
    background: var(--card);
  }
  
  .window-header {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: var(--window_header);
    border-bottom: 0px solid #d8d8d8;
    border-top-left-radius: var(--corner-radius);
    border-top-right-radius: 90px;
    padding-left: 12px;
  }
  
  .window-title {
    font-size: 15px;
    margin-left: 5px;
    color: var(--window_header_title); 
  }
  
  .window-corner {
    width: 70px;
    height: 100%;
    background: var(--card);
    border-top-right-radius: var(--corner-radius);
  }
  
  .window-body {
    flex: 1;
    padding: 30px;
    overflow: auto;
  }