body {
    background-color: #192da0;
    font-family: Rubik;
    text-align: left;
    margin-top: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
}


.corner_logo {
    position: fixed;
    top: 30px;
    left: 30px;

    width: 80px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;

    min-height: 80vh;
}

.hero-box {
    background-color: #3058c5;
    padding: 30px;
    padding-top: 0px;
    border-radius: 10px;
    width: 450px;
}



.title {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    line-height: 1;
}

.subtitle {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    line-height: 1;
}

.text {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
}

.download-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    margin-top: 40px;

    background: #44c707;
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    font-weight: 700;

    padding: 16px 32px;
    border-radius: 20px;

    border: 3px solid white;

    text-decoration: none;

    box-shadow: 0 0 10px rgba(0, 255, 76, 0.404);

    transition: all 0.5s ease;
    will-change: transform;
}

.download-btn:hover {
    background: #4bda09;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 255, 76, 0.9);
}